body{
    background-color: lightskyblue;
    font-family: "Monaco", "Arial";
}

h1 {
    text-align: center;
    color:midnightblue;
    font-size: 45px;
}
h2, h3, h4, strong {
    color:midnightblue;
}

p {
    font-size: 15px;
    color:midnightblue;
}

a.pagelink{
    font-size: 23px;
}

ul.links{
    font-size: 20px;
    color:midnightblue;
}

a:link{
    color:midnightblue;
}

a:visited{
    color:rebeccapurple;
}

a:hover{
    color:cornflowerblue;
}

.header {
    overflow: hidden;
    background-color:lightskyblue;
    padding: 5px;
    text-align: center;
}

.header a {
    float: right;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.header a:hover {
    color:dodgerblue;
}
.header a.active {
    color: white;
    background-color: darkblue;
}

.filter {
    float: right;
    display: flex;
    align-items: right;
}

.results {
    float: left;
    width: 70%;
    background-color:aliceblue;
    margin: auto;
    padding: 20px;
    visibility: visible;
}

#backLink {
    float: left;
    text-decoration: underline;
}

#listResults{
    text-decoration:underline;
}

.resultNum{
    font-style: italic;
}

.content{
    float: left;
    width: 70%;
    background-color:aliceblue;
    padding: 20px;
    margin: auto;
}


img.right {
    float: right;
    margin: 10px;
}

.img-column {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.vid-center{
    display: block;
    margin: 10px auto;
}

@media only screen and (max-width: 600px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .content {
        width: 100%;
        font-size: 18px;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}
